@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background-color: white; }

img {
float: inherit;
display: flex;
flex-flow: row wrap;
}
.batch{
  display: inline-block;
  width:20vw;
  margin: 5px;
  border: 1px solid #d85454;
  height: 25vw;
  text-align: center;
  position:relative;
}

.batch .name {
  background: rgb(211, 47, 47);
  color: white;
  padding: 10px;
  margin:0px;
}
.batch img {
  margin-top:30px;
  margin-left: auto;
	margin-right: auto;
	display: block;
}



.batch .yellow,.batch .red,.batch .green {
  background: yellow;
  width: 60px;
  height:40px;
  position:absolute;
  left: 20px;
  bottom: 10px;
}

.legenda .yellow, .legenda .red, .legenda .green {
  background: yellow;
  width: 80px;
  height: 40px;
  text-align: center;
  padding-top:20px;
  display: inline-block;
  margin: 20px;
}

.batch .red, .legenda .red {
  background: red;
}
.batch .green, .legenda .green {
  background: green;
}
